{namespace audioCat.action.templates}


/**
 * The dialog message shown when a media format is not supported.
 */
{template .ImportFailedMessage}
<div>
  The file could not be imported. Sorry, we tried our best.<br>
  <img src="images/sadCat.jpg" class="{css catDiversionImage}">
</div>
{/template}